
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  width: 0px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
 // outline: 1px solid slategrey;
  border-radius: .5rem;
}
// color Variables 
$primary:#1123ff;
$secondary:#e7e6eb;
$dark:#b0b6ca;


// chat-box
.chat-box{
    height: 100vh;
    overflow-y:scroll;
}




@import'../boostrap/scss/bootstrap.scss';


